<footer>
  <div class="footer-content">
    <div class="footer-logo">
      <img
        src="../../assets/Akashdeep pvtltd Logo.jpg"
        alt="Hotel Logo"
        id="footerimg"
      />
    </div>
    <!-- Existing Footer Contact (Matches image details) -->
    <div class="footer-contact">
      <p>#2188 Nuthan collage Road Near coffee day Vidhya Nagar</p>
      <p>Davangere -577005</p>
      <p>Email: akashdeepafoodsdvg@gmail.com</p>
      <p>Phone: +91-63-6354 3487 , +91-799 6666 199</p>
    </div>
    <div class="footer-social">
      <a href="#"
        ><img src="../../assets/fb.png" alt="Facebook" class="fb"
      /></a>
      <a href="#"
        ><img src="../../assets/twitte.png" alt="Twitter" class="tw"
      /></a>
      <a href="#"
        ><img src="../../assets/insta.jfif" alt="Instagram" class="insta"
      /></a>
    </div>
    <div class="footer-menu">
      <ul>
        <li><a href="http://localhost:4200/home">About</a></li>
        <li><a href="http://localhost:4200/Services">Services</a></li>
        <li><a href="http://localhost:4200/Contact" routerLink="/Contact">Menu</a></li>
        <li><a href="http://localhost:4200/home">Food Products</a></li>
        <li><a href="http://localhost:4200/Contact" routerLink="/Contact">Contact</a></li>
        <li><a href="http://localhost:4200/Services">Order Online</a></li>
      </ul>
    </div>
   
    <div class="footer-qr">
        
        <img src="path/to/your/qrcode.png" alt="Scan for more info" style="width: 100px; height: 100px;">
    </div>
  </div>
  <div class="footer-bottom">
   
    <p>-: Thank you, come back again :-</p>
    
    <p>&copy; 2023 Your Hotel. All rights reserved.</p>
  </div>
</footer>